<%= form_with model: article do |form| %>
  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :book_title %><br>
    <%= form.text_field :book_title %>
  </div>
  <div>
    <%= form.label :book_cover_image %><br>
    <%= form.file_field :book_cover_image %>
  </div>
  <div>
    <%= form.label :book_review %><br>
    <%= form.text_area :book_review %>
  </div>
  <div>
    <%= form.label :book_rating %><br>
    <%= form.radio_button :book_rating, :thumbs_up %> Thumbs Up
    <%= form.radio_button :book_rating, :thumbs_down %> Thumbs Down
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
